Source: pygopherd
Section: net
Priority: optional
Maintainer: John Goerzen <jgoerzen@complete.org>
Build-Depends: debhelper (>> 3.0.0), python2.2, python2.2-dev
Standards-Version: 3.5.2

Package: pygopherd
Architecture: all
Depends: python2.2, mime-support, logrotate
Provides: gopher-server
Description: Modular Multiprotocol Gopher/HTTP Server in Python
 More description to follow later...
